html {
    background-color: black;
}

body {
    color: rgb(53, 216, 39);
    margin: 0;
}

h1{
    font-size: 2em;
    text-align: center;
    padding: 2% 0% 0% 0%;
}

hr{
    clear: both;
    border: 2px solid rgb(53, 216, 39);
}

p{
    text-align: center;
    font-size: 1.8em;
    color: cyan;
    margin: 0;
    padding: 0% 15% 0% 15%;
    line-height: 1.6;
}

p#left {
    float: left;
    padding: 0% 0% 0% 5%;
    font-size: 2em;
}

p.right{
    float: right;
    padding: 0% 5% 0% 0%;
    font-size: 2em;
}

img{
    padding: 0% 28% 0% 22%;
}

p#explain{
    padding: 0% 25% 0% 2%;
    font-size: 1.2em;
}

ul.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
}

li.nav{
    display: inline;
    padding: 0% 7.5%;
}

.active{
    background-color: rgb(53, 216, 39);
    color: black;
}

li a {
    display: inline-block;
    color: rgb(53, 216, 39);
}

ul li a:hover {
    color: cyan;
    background
}

ul li,p{
    font-size: 1.2em;
}
